body {
  background: #f1f4f5;
}

.main-background {
  box-shadow: 0px 40px 100px 0px #165e750d;
  margin: 92px auto;
  background: white;
  max-width: 792px;
  padding: 32px;
  border-radius: 12px;
  display: block;
  height: 90%;
}

.enter-city {
  margin: 32px 0px 32px 0px;
  display: block;
}

.input-field {
  border: none;
  background: #f5f5f5;
  padding: 16px 24px;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  height: 48px;
  font-family: Source sans pro;
  width: 100%;
  color: #8c8c8c;
}

.btn-primary {
  font-weight: 600;
  height: 48px;
  background: #165e75;
  color: white;
  border-radius: 8px;
  font-family: Source Sans Pro;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: 0px 2px 4px 0px #7d7d7d29;
  border: none;
  transition: all 200ms ease;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: #3e6d81;
  border: none;
  box-shadow: none;
}

.btn-primary:active {
  background-color: #285467;
  border: none;
  box-shadow: none;
}

.row {
  display: flex;
}

.line {
  margin: 0 auto 0 auto;
  border-bottom: 1px solid #e8e8e8;
}

.weather-info {
  margin: 32px 0px 0px 0px;
}

.title-1 {
  font-family: Source Sans Pro;
  font-weight: bold;
  color: #262626;
  line-height: 120%;
  font-size: 42px;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

li {
  display: list-item;
  list-style: none;
  text-transform: capitalize;
}

.weather-info li {
  font-weight: 400;
  font-family: Source Sans pro;
  margin-bottom: 4px;
  color: #8c8c8c;
  font-size: 16px;
}

.weather-info strong {
  color: #5faa99;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
}

.temperature {
  font-size: 80px;
  font-family: Source Sans Pro;
  font-weight: 600;
  color: #262626;
}

.unit {
  font-size: 28px;
  font-family: Source Sans Pro;
  font-weight: 600;
  color: #262626;
  position: relative;
  line-height: 1;
  top: -34px;
}

.temperature-container {
  float: right;
}

.img-1 {
  margin: 0 16px 40px 0;
}

.weather-forecast {
  text-align: center;
  margin: 16px auto 0px auto;
  display: flex;
}

.week {
  font-family: Source Sans Pro;
  font-size: 18px;
  text-align: center;
  color: #8c8c8c;
  font-weight: 400;
  margin: 0px;
}

.Weather-preview p {
  margin-bottom: 16px;
}

.forecast-temperature {
  margin-top: 16px;
  display: flex;
}

.temperature-max {
  color: #5faa99;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 4px 4px 4px;
}

.temperature-min {
  color: #8fc4b8;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  padding: 4px 4px 4px 4px;
}

.Weather-forecast .col {
  padding: 20px;
}

.signature {
  margin-top: 32px;
  font-size: 14px;
  line-height: 160%;
  font-family: Source Sans Pro;
  color: #c9976c;
  text-align: center;
  font-weight: 200;
}

.signature a {
  text-decoration: underline;
  font-family: Source Sans Pro;
  color: #c9976c;
  font-weight: 600;
}
